body {
    margin: 0px 0px;
    direction: rtl;
    color: white;
    text-align: right;
    font-family: IRANSansWeb;
    font-family: IRANSansWeb Medium Regular;
}

@font-face {
    font-family: "IRANSansWeb Medium Regular";
    src: url("../fonts/IRANSansWeb/1fa5b77b2689aa6b642d9b1a03428a5b.eot"); /* IE9*/
    src: url("../fonts/IRANSansWeb/1fa5b77b2689aa6b642d9b1a03428a5b.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/IRANSansWeb/1fa5b77b2689aa6b642d9b1a03428a5b.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/IRANSansWeb/1fa5b77b2689aa6b642d9b1a03428a5b.woff") format("woff"), /* chrome、firefox */
    url("../fonts/IRANSansWeb/1fa5b77b2689aa6b642d9b1a03428a5b.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/IRANSansWeb/1fa5b77b2689aa6b642d9b1a03428a5b.svg#IRANSansWeb Medium Regular") format("svg"); /* iOS 4.1- */
}


@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan/Yekan.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BYekan/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/BYekan/Yekan.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/BYekan/Yekan.woff') format('woff'), /* Modern Browsers */
    url('../fonts/BYekan/Yekan.otf') format('opentype'), /* Open Type Font */
    url('../fonts/BYekan/Yekan.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/BYekan/Yekan.svg#Yekan') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

.py-15 {
    padding-top: 15rem!important;
    padding-bottom: 15rem!important;
}
/*a {
    color: #929292!important;
}*/
.align-parent {
    padding-right: 5%;
    padding-left: 5%;
}

.border-bottom {
    border-bottom-style: solid;
    border-color: #d3d3d5;
    border-bottom-width: 2px;
}

a:hover {
    color: #00a693 !important;
    text-decoration: none;
}

#Gap_Area {
    height: 20px;
    /* Updated */
    background-color: rgb(182, 155, 102);
}

#navbarSupportedContent {
    flex-grow: 1.92 !important;
}

/*#Content-About {
    padding-right: 7%!important;
}*/

#menu {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 15pt;
    /* Updated */
    z-index: 1020;
}

/*#Content-Blog {
	height: 700px;
}*/

.text-secondary {
    font-weight: bold !important;
    font-size: 15pt !important;
}

.text-tertiary {
    color: black !important;
    font-size: 12pt !important;
    padding-top: 25px;
}

.text-tree-map {
    font-weight: regular !important;
    font-size: 14pt !important;
    color: black!important;
}

.search {
    background-color: #f1f2f2 !important;
}

.w-border {
    width: 73.3%;
}

.form-control-navbar-search { /* Added 04 - jaygozine kelas haye edit shodeye khode bootstrap */
    border: 0!important;
    border-radius: 0!important;
}

    .form-control-navbar-search:focus { /* Added 04 - jaygozine kelas haye edit shodeye khode bootstrap */
        border-color: #00a693!important;
        outline: 0;
        box-shadow: 0 0 0 0.1rem #00a693!important;
    }

    .form-control-navbar-search::-webkit-input-placeholder { /* Added 04 */
        color: #d6d5d5!important;
    }

.br-0 {
    border-radius: 0px !important;
}

/*Classes Menu*/
#menu {
    border-bottom: 2px solid #d6d5d5;
}

    #menu .navbar-nav .nav-link {
        font-weight: bold;
        padding: 0;
        color: #d6d5d5;
    }

    #menu .navbar-nav .nav-item a {
        color: #d6d5d5;
    }

.nav-item-Custom {
    border-left-style: solid;
    border-left-width: 2px;
    border-color: #d1d3d4;
    padding: 0px 30px;
}

.nav-item-Custom-last {
    padding: 0px 20px;
}

.show > .nav-link,
.active > .nav-link {
    color: #01a693 !important;
    border-bottom: 2px solid #01a693;
}

.navbar-brand img {
    height: 49px;
}

.navbar-brand span {
    font-size: 14px;
}

.form-control {
    border: 0 !important;
    border-radius: 0 !important;
}

    .form-control:focus {
        border-color: #00a693 !important;
        outline: 0;
        box-shadow: 0 0 0 0.1rem #00a693 !important;
        /* Updated */
    }


/*Classes Menu*/

	/*Classes Sticky*/
.carousel-inner {
    height: 600px;
}
.carousel-inner-cust {
    height: 400px !important;
}
.Indicator-footer {
    /*height: 59.2px;
    background-color: rgb(101,100,98);*/
    position: relative;
    top: -55px;
    z-index: 1000;
}
#carousel-sticky {
    font-size: 22px;
    font-weight: 400;
    height: 600px;
}
    #carousel-sticky .carousel-item img {
        height: 600px;
    }

.carousel-indicators-Cust {
    bottom: 0px !important;
    margin-top: 16px !important;
    position: relative !important;
}

.carousel-indicators li {
    cursor: pointer;
}

.indicator-shape {
    width: 11px !important;
    height: 11px !important;
    border-radius: 8px;
}

    .indicator-shape.active {
        background-color: #00a693;
    }

.indicator-padding {
    padding-right: 5% !important;
    padding-left: 5% !important;
    font-size: 22px !important;
}

	.carousel-caption-cust {
    background-color: rgb(0,0,0,0.6);
    right: 0%;
    padding-right: 5%;
    padding-left: 5%;
    bottom: 0%;
    left: 0;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    color: #fff;
    height: 11.5%;
}

/*Classes Sticky*/

/*Classes Content*/
.nav-link.active,
.show > nav-link {
    background-color: #01a693 !important;
    color: white!important;
}

.margin-item-dropdown hr {
    margin: 12% 0!important;
}

#Content-Map .nav-item .nav-link {
    background-color: #d6d6d6;
    color: #f5f5f5;
    font-size: 18px;
}

.map_contain {
    height: 461px;
    width: 100%;
    border: solid 1px green;
}

.Parent-Tab {
    /*border-bottom-style: solid;
    border-color: #d3d3d5;
    border-bottom-width: 2px;*/
    padding-right: 4%;
    padding-left: 0%;
}

.Parent-Tab-cust a {
    justify-content: right !important;
}

.dropdown-menu-filter {
    float: left !important;
    min-width: 2.9rem !important;
    background-color: #d1d3d4 !important;
    border-top: 0 !important;
    border-bottom:1px solid gray;
    border-right:1px solid gray;
    border-left:1px solid gray;
    border-radius: 0 !important;
    padding:0!important;
    
}

.dropdown-btn {
    width: 46px!important;
}

#Content-Map .nav-pills .nav-link, #MainContentSearch .nav-pills .nav-link {
    border-radius: 0 !important;
    height: 33px;
    width: 108px;
}

/*.container-fluid {
    width: 100%;
    padding-right: 3%!important;
    padding-left: 3%!important;
}*/

.container-fluid-Cust {
    width: 100%;
    padding-right: 5% !important;
    padding-left: 5% !important;
}


#pills-tabContent .tab-pane {
    height: 536px;
}

#contents p {
	    color: #58595b;
}

.Parent-Tab a {
    color: white;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    display: flex;
}

.drop-down-color a {
    color: #58595b!important;
}

.Parent-Tab .nav-item {
    text-align: center;
}

/*Classes Content*/

/*Classes content-blog*/
.content-blog {
    height: 500.4px;
    background-color: #f5f5f5;
}

.carousel-inner-blog {
    height: 336px !important;
}

#Content-Blog .b_ico {
    width: 5% !important;
}

#Content-Blog .main_slider {
    width: 90% !important;
    padding: 0 0.5% !important;
}

.item-blog {
    height: 382px;
    max-width: 100%;
    border: solid 2px #d1d3d4;
    background-color: #f1f2f2;
}

    .item-blog img {
        height: 278.5px;
    }

.blog-image {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.item-list { /* Added 06 */
    height: 382px;
    max-width: 100%;
    background-color: #e7e6e6;
}


	.carousel-control-next,
.carousel-control-prev {
    width: 9% !important;
}

/*#Content-Blog .carousel-item {
width:93%!important;
}*/
#Content-Blog {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.item-blog-desc {
    height: 100px;
}

.carousel-blog-right img,
.carousel-blog-left img {
    height: 33px;
}

.zoom {
    transition: transform .2s;
    top: 26px;
}

    .zoom:hover {
        -ms-transform: scale(1.5);
        /* IE 9 */
        -webkit-transform: scale(1.5);
        /* Safari 3-8 */
        transform: scale(1.049);
        z-index: 10000;
    }

        .zoom:hover .item-blog {
            border: solid 1px #00a693;
        }

        .zoom:hover p {
            color: white !important;
        }

        .zoom:hover .item-blog-desc {
            background-color: #00a693;
        }

	#description-blog {
    color: black;
    padding-bottom: 50px;
    padding-top:40px;
    text-align: justify;
}

    #description-blog .space-between {
        display: flex;
        justify-content: space-between;
        overflow-wrap: break-word;
    }

    #description-blog img {
        height: 22px;
    }

.about-mob-img {
    display: none;
}
/* swiper */
.gallery-toolbar {
    height: 31.4px;
    background-color: rgba(93, 95, 98, 1);
}

    .gallery-toolbar img {
        width: 15px!important;
        height: 15px!important;
        margin: 0.5rem!important;
    }

    .gallery-toolbar .gallery-toolbar-pages .gallery-toolbar-pages-text {
        margin: 5px;
        font-family: BYekan;
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: normal;
        text-align: right;
        color: #f5f5f5;
    }

    .gallery-toolbar .gallery-toolbar-license {
        margin: 5px;
        font-family: BYekan;
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.53;
        letter-spacing: normal;
        text-align: left;
        color: #f5f5f5;
    }

    .gallery-toolbar .gallery-toolbar-range {
        margin: 5px;
    }

    .gallery-toolbar .gallery-toolbar-desc {
        margin: 5px;
        font-family: BYekan;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: right;
        color: black;
    }

    .gallery-toolbar .gallery-toolbar-pages .gallery-toolbar-pages-btn {
        /* background-color: #f5f5f5; */
        width: 50px;
        height: 19px;
        color: #929292;
        text-align: center;
    }

    .gallery-toolbar .gallery-toolbar-pages input::-webkit-outer-spin-button,
    .gallery-toolbar .gallery-toolbar-pages input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        /* margin: 0; */
    }

    .gallery-toolbar .gallery-toolbar-pages input[type=number] {
        -moz-appearance: textfield;
    }

.gallery-toolbar-dropdown .gallery-toolbar-dropdown-img {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    height: 28px;
    width: 33px;
    padding: 0;
    border: 0.2px solid #424242;
    border-bottom: 0px;
}

.gallery-toolbar-dropdown .gallery-toolbar-dropdown-one {
    background-image: url(../Images/one.svg);
}

.gallery-toolbar-dropdown .gallery-toolbar-dropdown-two {
    background-image: url(../Images/two.svg);
}

.gallery-toolbar-dropdown .gallery-toolbar-dropdown-under {
    background-image: url(../Images/under.svg);
}

.gallery-toolbar-dropdown .gallery-toolbar-dropdown-thumbnail {
    background-image: url(../Images/thumbnail.svg);
}

.gallery-toolbar-dropdown .gallery-toolbar-dropdown-multi {
    background-image: url(../Images/multi.svg);
}
#left-status .TopSlider {
    /* padding: 2rem 3rem; */
    /* padding: 3rem 5rem; */
    width: 53rem;
}
.one-slider-view,
.multi-slider-view {
    height: 70%;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute!important;
    right: 0;
}
.two-slider-view {
    height: 40%;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute!important;
    right: 0;
}
.TopSlider {
    /* width: 100%;
    height: calc(100% - 31.4px);
    background-color: rgba(0, 0, 0, 0.9);
    margin: auto; */
}

    .TopSlider .swiper-button-next {
        outline: unset;
        left: 90px;
    }

    .TopSlider .swiper-button-prev {
        outline: unset;
        right: 90px;
    }

/* .swiper-container {
    width: 100%;
    height: 100%;
} */

.swiper-container-cust {
    padding: 2% 1.2% !important;
    background-color: #F5F4F6!important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide-cust {
    background: unset!important;
}

.slider-blog {
    padding: 0 4%;
}

.btn-slider-blog {
    --swiper-theme-color: #636261;
    outline: unset;
}
	.btn-slider-home {
   top: 39%!important;
}
/* fullpageWithThumb */
.fullpageWithThumb {
    background-color: rgba(80, 80, 80, 0.6)
    backdrop-filter: blur(1px);
}

.fullpageWithThumb-swiper-slide .swiper-slide {
    /* width: 8rem!important; */
}

.swiper-container-fullpageWithThumb {
    width: 100%;
    /* height: 300px; */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-slide-fullpageWithThumb {
    background-size: cover;
    background-position: center;
}

.gallery-top-fullpageWithThumb {
    /* height: 80%;
    width: 100%; */
}
#left-status .gallery-thumbs-fullpageWithThumb {
    /* padding: 1.5% 3%; */
    width: 53rem;
}
#left-status .swiper-container-rtl .swiper-button-prev {
    right: 1.5rem;
    outline: unset;
}
#left-status .swiper-button-prev::after  {
font-size:2rem!important;
color:white!important;
}
#left-status .swiper-button-next::after {
font-size:2rem!important;
color:white!important;
}
#left-status .swiper-container-rtl .swiper-button-next {
    left: 1.5rem;
    outline: unset;
}
#left-status .swiper-slide-thumb-active {
    filter: brightness(100%);
/* opacity:1; */
}
.gallery-thumbs-fullpageWithThumb {
    /* height: 15%;
    box-sizing: border-box; */
    /* padding: 1% 1.5%; updated ali */
}

    .gallery-thumbs-fullpageWithThumb .swiper-slide {
        width: 25%;
        height: 100%;
        filter: brightness(60%);
        /* opacity: 0.4; */
    }
/* .gallery-thumbs-fullpageWithThumb .swiper-slide {
    opacity: 1;
  } */
/* MultiSlide */
.swiper-slide-MultiSlide {
    height: calc((100% - 30px) / 3)!important;
}


/* End swiper */
/*Classes content-blog*/

/*classes content-about*/
#Content-About p,
h4,
a {
    /*Updated*/
    color: black;
    font-weight: regular;
    /*Updated*/
    font-size: 16px;
}

hr.line {
    border-top: 2px solid #d3d3d5;
}

.peyvandha {
	    padding-right: 1.6rem;
}

.about-menu {
    border-bottom: solid;
    border-top: solid;
    border-color: #d3d3d5;
    border-bottom-width: 2px;
    border-top-width: 2px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.container___1oc1B {
    background-color: var(--color-ice);
    padding: 30px var(--dimen-margin);
    color: black !important;
    padding: 0 6%;
}

.container___1LHgP {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    margin-bottom: 16px;
}

.wrapper___1c9N5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'desc desc desc links''map map map links';
    column-gap: var(--dimen-gap);
    row-gap: var(--dimen-gap);
}

.desc___2quWR {
    grid-area: desc;
    line-height: 17pt;
    padding-left: 10%;
    margin-bottom: 20px;
}

.links___3flDQ {
    grid-area: links;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.links__item___t6wHF {
    margin-bottom: 4px;
    width: 100%;
    border-bottom: 2px solid #d3d3d5;
}

.map___DgP1y {
    grid-area: map;
    border-top: 2px solid #d3d3d5;
    border-bottom: 2px solid #d3d3d5;
    padding: 6px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*line-height: 12pt;
    font-weight: bold;*/
    margin-left: 10%;
    margin-bottom: 55px;
}

    .map___DgP1y div {
        cursor: pointer;
    }

.link___3gQey {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

    .link___3gQey a {
        padding-right: 8px;
        padding-bottom: 4px;
    }

/*classes content-about*/


/*classes content-brand*/
.icon-app img {
    height: 18.5px;
}

.icon-app > a {
    color: unset !important;
    background-color: #d6d6d6;
    border-radius: 10px;
    padding: 0px 3px;
    display: inline-block;
}

    .icon-app > a:hover {
        color: #00a693 !important;
        text-decoration: none;
        cursor: pointer;
    }

.brand-background .container-fluid {
    margin-left: 0px;
    margin-right: 0px;
}

.three-logo a {
    margin: 0 3px;
}
	.icon-instagram {
  mask: url(../Images/instagram.svg);
}
.icon-twitter {
  mask: url(../Images/twitter.svg);
}
.icon-facebook {
  mask: url(../Images/facebook.svg);
}
.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  fill: #d2d3d5;
}
.icon:hover,
.icon:focus {
  fill: #00a693;
}
/*classes content-brand*/


/*footer*/
.footer {
    height: 53.9px;
    background-color: #00a693;
    	        font-size: 14px;
}

    .footer img {
        height: 35px;
    }

/*footer*/

/*--**********************---------------------------------BEGIN BLOG CSS---------------------------**************************************--*/
#parent-blog {
    background-color: #f5f3f0;
}

    /*#MainContentBlog {
    background-color: #f1f2f2;
}*/
    #parent-blog .breadcrumb img {
        margin-left: 5px;
    }

.mainpost {
    color: black;
    margin-bottom: 40px;
}

.card-header-cust {
    color: #666666;
    padding: 0 0 0 0 !important;
}

/* Classes content-right*/
.image-post {
    height: 300px;
}

    .image-post img {
        width: 100%;
        height: 100%;
    }

.desc-image {
    background-color: #eceaea;
}

/* Classes content-right*/

.item-ul {
    list-style: none;
    padding-right: 0;
    padding-left: 0;
}

.title-post {
    font-size: 16px;
    line-height: 1.2;
    color: #595a5b;
    font-weight: bold;
}

.short-desc {
    font-size: 15px;
    line-height: 1.6;
    color: #000000;
    border-bottom: solid #d6d6d6 2px;
    text-align: justify;
    display: table-cell;
    position: absolute;
    height: 106px;
}

    .short-desc p {
        max-height: 6.8em;
        line-height: 1.8em;
        display: block;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
    }

.img-post {
    position: relative;
    float: left;
    right: 52%;
    bottom: 17%;
}

    .img-post img {
        width: 100%;
        height: 162.3px;
        float: left;
    }

	.footer-post {
    color: #929292 !important;
    font-weight: bold;
    font-size: 10pt;
    /*padding-top: .5rem;*/
    position: absolute;
    top: 74%;
}
.footer-post a {
    font-size:10pt!important;
    }

    .footer-post img {
        height: 12px;
        margin-bottom: 3px;
        padding-right: 7px;
    }

.page-link {
    background-color: unset !important;
    border: unset !important;
    color: #929292 !important;
}

    .page-link:hover {
        color: #00a693 !important;
    }

.page-item.active a {
    color: #00a693 !important;
}

#Right-Content a {
    color: #9c9d9d;
}


#Archive-Child {
    padding: 0px !important;
}

.header-detail-post img {
    height: 18px;
    padding: 0 3px;
}

#Comment-Card .col-md-6 {
    padding: 0px !important;
}

#Comment-Card .collapsed img {
    height: 8px;
}

.card-body-comment .form-group {
    margin-bottom: 7px !important;
}

.send-btn-blog {
    width: 20%;
    background-color: #00a693!important;
}

#exampleModalCenter .send-btn-blog {
    width: 29%;
}

#collapsecommentsuser h4 {
	    color: #939598;
        font-size: 14px;
}

#collapsecommentsuser p {
    color: black;
}

#collapsecommentsuser a {
    cursor: pointer;
}

.border_comments {
    border-bottom: 0.35mm solid #d1d3d4;
}

/*--**********************---------------------------------END BLOG CSS---------------------------**************************************--*/

.breadcrumb {
    margin-bottom: -3rem !important;
    margin-top: -1rem !important;
    background-color: #f5f3f0 !important;
}

.breadcrumb-item.active {
    color: #33b8a9 !important;
}

.deactive-hover {
    text-decoration: none !important;
    color: black !important;
}

    .deactive-hover:hover {
        color: #33b8a9 !important;
    }

.post-header {
    color: #00a693;
    font-weight: bold !important;
    font-size: 18px;
    /* Added */
}

.container-fluid-blog {
    width: 100%;
    padding-right: 4% !important;
    padding-left: 2.5% !important;
}

#Description-Post {
	        margin-bottom: 50px;
    margin-top: 50px;
    text-align: justify;
    line-height: 1.8;
}

#Left-Menu .card-header {
    margin-bottom: 0;
    /*background-color: #f5f3f0!important;*/
    border-bottom: 1.2px solid #dcdada;
}

.card-body-cust {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 5px 0px 0 0 !important;
    /*background-color: #f5f3f0!important;*/
    font-size: 11pt;
    /* Updated */
    font-weight: 600;
    /* Updated */
}

.deactive-hover-left {
    text-decoration: none !important;
    color: #939598 !important;
}

    .deactive-hover-left:hover {
        color: #33b8a9 !important;
    }

.fa-share-alt,
.fa-file-pdf {
    color: #939598 !important;
}

.text-view {
    font-size: 10pt !important;
    font-weight: bold !important;
    color: #939598 !important;
}

#MainContentBlog #Left-Content #Left-Menu #accordion .card {
    background-color: #f5f3f0 !important;
}

#Left-Menu .card img {
    height: 8px;
}

#Left-Menu a {
    color: #b2b2b1;
    font-size: 14px;
    /* Added */
}

#accordion-archive .card img {
    height: 7px;
}

.btn-primary {
    color: #fff;
    /*background-color: #00a693 !important;*/
    border-color: 0 !important;
    border-radius: 0 !important;
    border-width: 0 !important;
}

#Other-Image-Post img {
    width: 100%;
    height: 100%;
    padding: 15px 0 15px 0;
}

.card-body-comment {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 40px 0 40px 0 !important;
	    font-size: 11pt;
    font-weight: 400;
}

.form-control-comment {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .form-control-comment:focus {
        color: #495057;
        background-color: #fff;
        border-color: #00a693;
        outline: 0;
        box-shadow: 0 0 0 0.1rem #00a693;
    }

.brand-background {
    background-color: #e8e7e6;
}

.desc-image {
    background-color: #eceaea;
    margin-top: 30px;
    padding: 10px 10px 1px 10px;
    text-align: justify;
    font-weight: bold;
    color: #58595b;
    line-height: 1.7;
    /* Updated */
}

#advanced-search-library .dropdown .dropdown-toggle::after {
    float: left;
    margin-top: 10px;
}

.search-inner-header {
    color: #33b8a9 !important;
    font-weight: bold !important;
    font-size: 19px;
    margin-top: 40px;
    margin-bottom: 7px;
}

.search-inner-content {
    color: black !important;
    font-weight: regular !important;
    font-size: 16px;
    /* Updated */
    padding: 0 0 0 0 !important;
}

.form-control-search {
    background-color: #eae8e8;
    border: 0 !important;
    border-radius: 0 !important;
}

    .form-control-search:focus {
        background-color: #eae8e8;
        border-color: #00a693 !important;
        outline: 0;
        box-shadow: 0 0 0 0.35mm #00a693 !important;
    }

.MapMarker {
    width: 30px;
    height: 30px;
    background-color: #00a693;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    font-size: large;
}

#MainContentSearch .nav-item .nav-link {
    background-color: #d6d6d6;
    color: #f5f5f5 !important;
    font-size: 16px;
    /* Updated */
}

.search-inner-header-arrow {
    margin-top: 40px;
}

#MainContentSearch {
    border-bottom: 0px;
}

    #MainContentSearch .field-spacing {
        margin-top: 20px;
    }

    #MainContentSearch .field-spacing-second {
        margin-top: 80px;
    }

.search-inner-content .form-group {
    margin-bottom: 0.75rem!important;
}

.placeholder::-webkit-input-placeholder {
    color: #eae8e8;
}
/*------------------------------------------------------*/

#wrraper-search {
    background-color: #fbfaf6;
}

#accordion .card .card-body .form-group .col-sm-3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#accordion .card .card-body .form-group span {
    color: #b4b4b4;
}

#advanced-search-versions-request {
    padding-left: 1.75% !important;
    padding-right: 1.75% !important;
}

#MainContentSearch .nav-item {
    margin-left: .5rem;
    margin-right: .5rem;
}

    #MainContentSearch .nav-item a {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

.btn-search-advance {
    border-radius: 0px;
    width: 47%;
    font-size: 18px;
    /* Updated */
    font-weight: 500;
    /* Updated */
    height: 33px;
    padding: 0px;
    background-color: #d1d3d4;
}

    .btn-search-advance:hover {
        background-color: #00a693;
    }

    .btn-search-advance:active {
        background-color: #00a693!important;
        box-shadow: 0 0 0 0!important;
    }

    .btn-search-advance:focus {
        background-color: #00a693;
        box-shadow: 0 0 0 0;
    }
/*.btn-search-advance.btn-secondary {
        background-color: #d3d2d2 !important;
        border-color: #d3d2d2 !important;
    }*/

.jstree-default .jstree-themeicon {
    background-position: -260px -4px;
}

.jstree-default.jstree-rtl > .jstree-no-dots .jstree-closed > .jstree-ocl {
    background-position: -3px -2px !important;
    background-image: url("../Images/PlusMinus.png");
}

.jstree-default.jstree-rtl > .jstree-no-dots .jstree-open > .jstree-ocl {
    background-position: -3px -23px !important;
    background-image: url("../Images/PlusMinus.png");
}



/*------------------------------------------------------Added*/


#multi-item-example p {
    font-size: 14px;
    font-weight: bold;
}

.carousel-blog-left,
.carousel-blog-right {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
}



.form-control-navbar-search {
    /* Added 04 - jaygozine kelas haye edit shodeye khode bootstrap */
    border: 0 !important;
    border-radius: 0 !important;
}

    .form-control-navbar-search:focus {
        /* Added 04 - jaygozine kelas haye edit shodeye khode bootstrap */
        border-color: #00a693 !important;
        outline: 0;
	        box-shadow: inset 0 0 0 0.1rem #00a693 !important;
    }

    .form-control-navbar-search::-webkit-input-placeholder {
        /* Added 04 */
        color: #d6d5d5 !important;
    }

.three-logo {
    /* Added 04 */
    margin-bottom: 20px;
}

.dash {
    list-style-type: "- ";
    color: #b2b2b1;
}

#Right-Content hr {
    border-top: 2px solid rgba(0, 0, 0, .1);
}

.nav-tabs-cust {
    border-bottom: none !important;
}

.btn-secondary-cust {
    color: #495057;
    background-color: #eae8e8;
    border-color: none;
    border-radius: 0 !important;
}

.nav-tabs .nav-link {
    border: 0 !important;
}

/*--*********************----------------------------------Custom Class Bootstrap-----------------*************************************--*/
.card {
    border: unset !important;
    border-radius: 0px !important;
    background-color: #f5f3f0 !important;
}

.card-header {
    background-color: unset !important;
}

.btn-link {
    color: #929292 !important;
}

.carousel-multi-item-2 .card img {
    border-radius: 2px;
}
/*--*********************----------------------------------Custom Class Bootstrap-----------------*************************************--*/

/*searchresult*/
#Ul1-Sresult .nav-item {
    width: 21%;
}

    #Ul1-Sresult .nav-item button {
        width: 100%;
        color: #58595b;
        background-color: #d1d3d4;
        border-radius: 0;
    }

#Ul2-Sresult .nav-item button {
    color: #58595b;
    background-color: #d1d3d4;
    border-radius: 0;
}

#SearchResult label {
    margin: 0!important;
    display: flex!important;
    align-items: center!important;
    color: #939598;
}

main-tab-searchr {
    color: white;
}

.btn-qty {
    width: 65px;
    background-color: unset;
}

.btn-searchresult {
    background-color: unset!important;
    color: #939598!important;
}

    .btn-searchresult:hover {
        color: #00a693;
        background-color: unset;
    }

    .btn-searchresult:active {
        color: #00a693!important;
        background-color: unset!important;
        box-shadow: 0 0 0 0!important;
    }

    .btn-searchresult:focus {
        color: #00a693;
        box-shadow: 0 0 0 0;
    }
/*searchresult*/
/* list page */
.versin-detail-data-text > div {
    /*font-family: IRANSansWeb;*/ /* Updated 06 */
    font-size: 13px; /* Updated 06 */
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4; /* Updated 06 */
    letter-spacing: normal;
    text-align: justify; /* Updated 06 */
    color: #000000;
}

.versin-detail-data-text .versin-detail-data-text-subject {
    color: #929292;
    font-weight: bold; /* Added 06 */
}

.versin-detail-data-img .versin-detail-data-img-title {
    display: none;
    position: absolute;
    bottom: 8px;
    /*font-family: IRANSansWeb;*/ /* Updated 06 */
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4; /* Updated 06 */
    letter-spacing: normal;
    text-align: right;
    color: white;
}

.versin-detail-data-img[mode="gallery"]:hover .versin-detail-data-img-title {
    display: block;
}

.versin-detail-data-img[mode="gallery"]:hover img {
    filter: brightness(60%);
}
/* Updated 06 */
.version_childs_slider_ListMode_text {
    /*font-family: IRANSansWeb;*/ /* Updated 06 */
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.87;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
    cursor: pointer;
}

.collection_childs_slider_ListMode_text {
    /*font-family: Iransans;*/ /* Updated 06 */
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.87;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
    cursor: pointer;
}

#treeid > ul {
    background-color: #e7e6e6!important;
    height: 100%;
    padding:4% 1.5%;
}

#mapid .leaflet-control-attribution {
display:none;
}

/*.view-gallery-MultiSlide {
background-image:url(../Images/view.svg);
}

.view-gallery-TwoSlide {
background-image:url(../Images/two.svg);
}
.view-gallery-under {
background-image:url(../Images/under.svg);
}
.view-gallery-Thumb {
background-image:url(../Images/thumbnail.svg);
}*/
/*.view-gallery-fullpage {
background-image:url(../Images/one.svg);
}*/

.gallery-dropdown-img {
background-repeat: no-repeat;
background-size: 50%;
background-position: center;
height: 38px;
padding:0px;
border-top:1px solid gray;
}
/* end list page */


/* table fehrest*/

#table-one td {
padding:0;
border:0;
}

    #table-two label{
    color:#939598!important;
    }
        #table-one label{
    color:#939598!important;
    }
            #table-two span{
    font-weight:400;
    }
        #table-one span{
   font-weight:400;
    }
/*tabld fehrest*/



@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%;
    }
}

/*Responsive  For Mobile*/

@media screen and (max-width: 600px) and (min-width: 300px) {
    .align-parent-mob {
        padding-left: 1%;
    }

    .order-brand-navbar {
        order: 1;
    }

    .order-search-navbar {
        order: unset !important;
        width: 42%;
        position: sticky;
        /* bottom: 178px; */
        right: 206px;
    }



    /*.order-menu-navbar {
        order: 3;
    }*/

    .navbar-brand span {
        font-size: 10px;
    }

    .navbar-brand img {
        height: 31px;
    }

    .navbar-light .navbar-toggler {
        border: 0;
    }

    /*#menu {
        padding-right: 0;
        padding-left: 0;
    }*/
    .carousel-caption-cust {
  	padding-top:13px;
padding-bottom:13px;
    }

    .dropdown-btn {
        width: 26px!important;
    }

    #description-blog .space-between {
        display: inline-block;
        justify-content: unset;
        overflow-wrap: break-word;
    }

    #description-blog img {
        float: left;
    }

    .about-mob-img {
        display: inline-block;
    }

    .show > .nav-link,
    .active > .nav-link {
        border-bottom: unset;
    }

    .nav-item-Custom-last {
        padding: 0;
    }

    .nav-item-Custom {
        border-left-style: none;
        border-left-width: 0;
        border-color: unset;
    }

    .carousel-inner {
        height: 223px;
    }

    .carousel-indicators.carousel-indicators-Cust {
        display: none;
    }

    .indicator-padding {
        font-size: 15px !important;
        padding: 2% 0;
        height: unset;
    }

    .titr {
        padding-right: 3%;
    }

    .space {
        padding: 3% 0;
    }

    .map_contain {
        height: 461px;
        width: 100%;
        border: solid 1px green;
    }

    #Content-Map .Parent-Tab {
        padding: 0;
    }

        /*#Content-Map .Parent-Tab.col-md-9 {
            width: 55%!important;
        }*/

        #Content-Map .Parent-Tab.col-md-3 {
            padding-right: 5% !important;
        }

    /*#Content-Map .Parent-Tab .nav-item {
            padding: 0 1%!important;
        }*/

    #Content-Map .nav-pills .nav-link, #MainContentSearch .nav-pills .nav-link {
        height: 25px;
        width: 68px;
        font-size: 16px !important;
    }

    #Content-Map #Pills-Tab {
        padding: 0 4%;
    }

    .pc {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .zoom {
        transform: scale(1.06);
    }

    .size-mob {
        width: 97%;
    }

    .brand-background .order1-mob {
        order: 1 !important;
        border-bottom: 1px solid #d3d3d5;
        padding-bottom: 15px;
    }

    .brand-background .order2-mob {
        order: 2 !important;
        width: 50%;
    }

    #Footer {
        font-size: 10px !important;
    }

    .peyvandha {
        padding-right: 0rem;
        padding-left: 0rem;
    }

    .about-mob {
        text-align: unset !important;
    }

    .send-btn-blog {
        width: 50%;
    }

    #carousel-sticky {
        font-size: 14px;
        height: 225px;
    }

        #carousel-sticky .carousel-item img {
            height: 225px !important;
        }

    .swiper-slide-cust {
        padding: 27px;
    }

    .footer img {
        height: 25px;
    }

    .w-border {
        width: 95%;
    }

    #MainContentSearch .nav-item {
        margin-left: .25rem;
        margin-right: .25rem;
    }

    .width-tab-mob-search {
        width: 90px!important;
    }

    #advanced-search-versions-request {
        padding-left: 4.75% !important;
    }

    .padding-r-l {
        padding-left: 0px;
        padding-right: 0px;
    }

    #advanced-search-library .search-inner-content .form-group {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }

    #advanced-search-blog .search-inner-content .form-group {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }

    .search-inner-content {
        font-size: 15px;
    }

    .padding-menu, .padding-menu .nav-item {
        padding: 0px;
    }

    .short-desc {
        display: inline-block;
        position: unset;
    }

    .img-post {
        position: unset;
        float: unset;
        right: 0;
        bottom: 0;
        padding-right: 0;
        padding-left: 0;
    }

        .img-post img {
            height: 235.3px;
            float: unset;
        }

    .footer-post {
        position: unset;
        top: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .card-header-cust {
        padding: 8px 0 0 0!important;
    }

    .placeholder::-webkit-input-placeholder {
        color: #b6b4b4;
        font-size: 13px;
    }

    #MainContentSearch .field-spacing-second {
        margin-top: 28px;
    }
}

/*Responsive  For Mobile*/


@media screen and (max-width: 992px) and (min-width: 600px) {


    .nav-item-Custom-last {
        padding: 0 30px !important;
    }

    .nav-item-Custom {
        border-left-style: none;
        border-left-width: 0;
        border-color: unset;
    }

    .show > .nav-link,
    .active > .nav-link {
        border-bottom: unset;
    }

    .navbar-light .navbar-toggler {
        border: 0;
    }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
    .peyvandha {
        padding-right: 0rem!important;
    }
}

/*addede class ali */

.btn-shape-Swiper::after {
    color:white;
}
.btn-shape-Thumb::after {
    color:white;
    font-size:18px!important;
}
.swiper-button-next.btn-shape-Thumb {
    left:0px!important;
    
}
.swiper-button-prev.btn-shape-Thumb {
right:0px!important;
}

.fullpageWithThumb .swiper-slide-thumb-active {
opacity:1;
}

.showModalIcon{
    position: absolute;
    z-index: 100000;
    bottom: 0;
    left: 0;
    /* padding-left: 2%; */
    /* color: white; */
    background-image: url(../images/Expand.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;
}

.showModal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    outline: 0;
}
.overflow-hidden{
    overflow: hidden;
    height: 100%;
}
		
.jstree-wholerow-hovered {
    background:unset!important;
}
.jstree-default .jstree-wholerow-clicked {
        background:unset!important;
}